<footer>
        <div id="footer">

            <div class="footer-wrapper">


                <div class="footer-nav-list">
                    <ul class="footer-nav">
                    
                        <li><a href="/pages/our-stores">our stores</a></li>
                        
                        <li><a href="/pages/contact-us">contact us</a></li>
                
                        <li><a href="/pages/terms-and-conditions">terms and conditions</a></li>
                
                        <li><a href="/pages/about-us">about us</a></li>
                
                        <li><a href="/pages/privacy-policy">privacy policy</a></li>
                
                        <li><a href="/pages/faq">faq</a></li>
            
            
                    </ul>
                </div>


                <div class="social-news-wrapper">
                    
                    <div class="social-block">
                        
                        <h5>payment methods</h5>
                        
                        <div class="payment-img">
                                <div class="icon"><a href="{{  }}" class=""><img src="{{'MasterCard_early_1990s_logo.png' | asset_url }}" alt="logo"></a></div>
                                <div class="icon" style="height:20px;"><a href="{{  }}" class=""><img src="{{'visa_PNG30.png' | asset_url }}" alt="logo"></a></div>
                                <div class="icon"><a href="{{  }}" class=""><img src="{{'paypal-logo-organization-bitcoin-bluem-money-elon-musk-text-azure-png-clipart.jpg' | asset_url }}" alt="logo"></a></div>
                                <div class="icon" style="width:150px; height:30px;"><a href="{{  }}" class=""><img src="{{'COD.png' | asset_url }}" alt="logo"></a> </div>
                        </div>
                    
                    </div>


                    
                    <div class="newsletter-block">

                        <h5>sign up to our newsletter</h5>
                        <div class="newsletter-wrapper">

                                <p class="newsletter-mobileonly-title">Sign up for emails</p>
                                <form  action="https://superga.us12.list-manage.com/subscribe/post?u=d85fc527b4cf649dd6efac8b6&amp;id=b2dc457e7b" method="post" class="unique-chimp-redirect1">
                                    <div class="form-group">
                                        <input class="newsletter-input" id="newsletter-input" type="text" name="email" size="18" placeholder="Enter your e-mail">
                                        <button type="submit" name="submitNewsletter" class="btn btn-default button button-small"><span><i class="fas fa-angle-right"></i></span></button>
                                        <input type="hidden" name="action" value="0">
                                    </div>
                                </form>
                        </div>
                    </div>
                
                </div>



                <div class="footer-info-link">

                    <div class="footer-info-1">
                        <p>We ship nationwide in the Philippines</p>
                        <a href="/pages/our-stores"><i class="fa fa-map-marker-alt"></i>  Find our Store Locations</a>
                    </div>
                    <div class="footer-info-2">
                        <p>Call (02) 8830 5000 | <span><a href="mailto:custserv@superga.ph">custserv@superga.ph</a></span></p>
                    </div>
                    <div class="footer-info-3">
                      <p>2020 Superga-PH. All Rights Reserved</p>
                    </div>

                </div>

            </div>


        </div>
    </footer>